<% content_for :sitemap do %>
  <a href="<%= admin_partners_path %>"><%= t("admin.menu.partners")%></a> <i class="fa fa-angle-right"></i> <span class="current"><%= t("common.edit")%></span>
<% end %>

<%= render 'form' %>
